---
import Sep from "./Sep.astro";
---

<div
	class="grid- my-12 mx-auto grid w-full max-w-screen-xl grid-cols-3 justify-around gap-5 py-5 text-center text-xl max-sm:flex-col xl:text-2xl"
>
	<div class="rounded-lg p-1">
		<i
			class="fas fa-brain text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
		></i>
		<p class="">תכנון ובניית קמפייניות פרסום</p>
		<p class="pt-2 text-lg text-gray-800">
			משרדי פרסום יכולים לתכנן ולבנות קמפייניות פרסום מקיפות ללקוחות, כולל
			תכנון ובניית מודעות במדיה שונות כמו טלוויזיה, רדיו, עיתונות,
			ואינטרנט.
		</p>
	</div>
	<div class="rounded-lg p-1">
		<i
			class="fas fa-user-friends text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
		></i>
		<p class="">שיווק באינטרנט</p>
		<p class="pt-2 text-lg text-gray-800">
			משרדי פרסום יכולים לעזור ללקוחות לקדם את העסק שלהם באינטרנט, כולל
			פרסום בגוגל, פייסבוק ופלטפורמות אחרות, ובניית אתרי אינטרנט.
		</p>
	</div>
	<div class="rounded-lg p-1">
		<i
			class="fas fa-comments-dollar text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
		></i>
		<p class="">ייעוץ ובניית אסטרטגיות שיווק</p>
		<p class="pt-2 text-lg text-gray-800">
			משרדי פרסום יכולים לסייע ללקוחות לפתח אסטרטגיות שיווק מקיפות, כולל
			תכנון ובניית תכנית שיווקית וזיהוי יעדים מדוייקים.
		</p>
	</div>
	<div class="rounded-lg p-1">
		<i
			class="fas fa-paint-brush text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
		></i>
		<p class="">עיצוב גרפי</p>
		<p class="pt-2 text-lg text-gray-800">
			משרדי פרסום יכולים לעזור ללקוחות לעצב מודעות, לוגואים, חומרי פרסום
			וממשקי אתרי אינטרנט.
		</p>
	</div>
	<div class="rounded-lg p-1">
		<i
			class="fas fa-photo-video text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
		></i>
		<p class="">ניהול מדיה חברתית</p>
	</div>
</div>
